{% extends "base.html" %} 
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home/home_page.css' %}" />
{% endblock %} 

{% block content %}
<main>
  <div class="home-background"></div>
  <div class="header-container">
    <div class="headline">{{page.headline}}</div>
    <div class="subheadline">{{page.sub_headline}}</div>
  </div>


  <div class="cards">
    {% for blog in page.blogs %} 
    {% image blog.specific.main_image min-580x370 as photo %}
    <div class="card" style="background: url({{photo.url}}) no-repeat 50% 50%;">
      <a href="{% pageurl blog.specific %}">
        <div class="card-container">
          <div class="card-heading">{{blog.specific.title}}</div>
          <div class="row">
            <a href="{% pageurl blog.specific %}" class="card-button"> Read </a>
            <div class="card-date">{{blog.specific.date}}</div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</main>

{% endblock content %}
