{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home/home_page.css' %}" />
{% endblock %}

{% block content %}
<main class="home-page">
  <div class="home-background"></div>
  <div class="card-container">
    {% for blog in page.blogs %}
    <div class="card">
      {% image blog.specific.main_image fill-900x900 as photo %}
      <img src="{{ photo.url }}" alt="{{ photo.title }}" class="card-img" />
      <h2 class="card-heading">{{blog.specific.title}}</h2>
      <span class="card-date">{{blog.specific.date}}</span>
      <a href="{% pageurl blog.specific %}" class="card-button">
        Read
      </a>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock content %}