{% extends 'base.html' %} {% load static wagtailimages_tags wagtailcore_tags %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/gallery/gallery_index_page.css' %}" />
{% endblock %} {% block content %}
<main>
  <div class="gallery-background"></div>
  <section class="gallery-container">
    <div class="gallery-items">
      {% for post in page.posts %}
      <div class="gallery-item">
        {% comment %} <a href="{% pageurl post.specific %}" class="content"> {% endcomment %}
          {% image post.specific.gallery_photo fill-300x300 as photo %}
          <img class="gallery-photo" src="{{photo.url}}" alt="{{ photo.title }}">
        {% comment %} </a> {% endcomment %}
      </div>
      
      {% endfor %}
    </div>
  </section>
</main>

{% endblock content %}
