{% extends 'base.html' %} {% load static wagtailimages_tags wagtailcore_tags %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/gallery/gallery_index_page.css' %}" />
{% endblock %} {% block content %}
<main>
  <div class="gallery-background"></div>
  <section class="gallery-container">
    <div class="gallery-items">
      {% for post in page.posts %}
      <div class="gallery-item">
        <a hx-get="{% pageurl post.specific %}" hx-target='#dialog'>
          {% image post.specific.gallery_photo fill-300x300 as photo %}
          <img class="gallery-photo" src="{{photo.url}}" alt="{{ photo.title }}">
        </a>
      </div>
      {% endfor %}
    </div>
  </section>
</main>
<div id="modal" class="modal fade">
  <div id="dialog" class="modal-dialog" ht-target="this"></div>
</div>

{% endblock content %}
