.index-background {
  background: #eae7d3;
  filter: brightness(80%);
}

/* .blog-index-page {
  max-width: 100vw;
} */

.chip-list {
  padding: 0 50px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  min-height: 100vh;
  align-items: center;
  /* justify-content: center; */
  /* justify-items: center; */
}

@media (min-width: 768px) {
  .chip-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .chip-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.chip-post {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.background {
  height: 20rem;
  overflow: clip;
  display: flex;
  align-items: center;
}

.background img {
  object-fit: cover;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .chip-list {
    min-height: unset;
    display: flex;
    flex-direction: column;
  }
  .background {
    height: auto;
  }
}

.background img {
  width: 100%;
}

.chip-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

.chip-heading {
  font-size: 2rem;
  font-family: "Merriweather", serif;
  font-weight: bold;
}

/* .chip-description {} */

/* .chip-date {} */

.chip-tags {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

.tag {
  font-size: 0.8rem;
  font-weight: bold;
  background: #ffe074;
  padding: 3px;
  border-radius: 5px;
}

/* .tag:last-child {
  border-radius: 0 0 10px 0;
} */

@media only screen and (min-width: 600px) {
  .chip {
    width: 45%;
  }
}

@media only screen and (min-width: 900px) {
  .chip {
    width: 30%;
  }
}
