.project_page-background {
    /* background-image: url(../../images/JOD_background2.jpeg); */
    filter: brightness(80%);
}

.project-container {

    padding-left: 20px;
    font-family: "Merriweather", serif;
    width: 80%;
    height: 80vh;
    color: #ffe074;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .project {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin:  20px 0; */
    align-items: center;
  }

  .project__title {
    font-size: 2.5rem;
    font-weight: bolder;
  }

  .project__description {
    width: 70%;
    font-size: 1.5rem;
    color: white;
  }
  
  @media screen and (max-width: 600px) {

    .project_page-background {
      /* background-image: url(../../images/JOD_background2.jpeg); */
      filter: brightness(30%);
  }

    .project {
      align-items: flex-start;
    }

    .project__title {
      font-size: 1.5rem;
      font-weight: lighter;
    }
  
    .project__description {
      width: 70%;
      font-size: 1rem;
      color: white;
    }
    
  }