{% extends "base.html" %} {% load static wagtailcore_tags wagtailimages_tags %} {% block body_class %}template-searchresults{% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% endblock %} {% block title %}Search{% endblock %} {% block content %}
<main>
  <div class="search-background"></div>
  <div class="search__container">
    <form action="{% url 'search' %}" method="get" class="search__form">
      <input
        type="text"
        class="search__input"
        name="query"
        {% if search_query %}
        value="{{ search_query }}"
        {% endif %}
      />
      <input type="submit" value="Go" class="search__button" />
    </form>
    {% if search_results %}
    <ul class="search__results">
      {% for result in search_results %}
      <li>
        <p class="search__result">
          <a class="search__result-link" href="{% pageurl result %}">
            {% image result.specific.main_image fill-50x50 as photo %}
            <img
            src="{{ photo.url }}"
            alt="{{ photo.title }}"
            width="{{ photo.width }}"
            height="{{photo.height}}"
            />
            {{ result }} 
            {% if result.tags %}
            <div class="tags">
              {% for tag in result.tags %}
              <div class="tag">
                {{tag}}
              </div>
              {% endfor %}
            </div>  
            {% endif %}
            {% if result.description %}
              {{result.description}} 
            {% endif %}
          </a>
        </p>
        {% if result.search_description %} {{ result.search_description }} {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% if search_results.has_previous %}
    <a
      href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}"
      >Previous</a
    >
    {% endif %} {% if search_results.has_next %}
    <a
      href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}"
      >Next</a
    >
    {% endif %} {% elif search_query %}
    <div class="search__results">
      <p class="search__no-result">No results found :(</p>
    </div>
    {% endif %}
  </div>
</main>
{% endblock %}
