{% extends 'base.html' %} 
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog/blog_index_page.css' %}" />
{% endblock %} 

{% block content %}
<div class="index-background"></div>
<main>
  {% comment %} <div class="index__header-container">
    <h3 class="index__header">All Posts</h3>
  </div> {% endcomment %}
  <div class="chip-list">
    {% for post in blogs %}
    {% image post.specific.main_image fill-300x300 as photo %}
    <div class="chip" style="background: url({{photo.url}});">
        <a class="chip-link" href="{% pageurl post.specific %}">
        <h2 class="post-heading">{{ post.specific.title }}</h2>
        <h5 class="post-date">{{ post.specific.date }}</h5>
        {% if post.specific.description %}
        <p class="post-description">{{ post.specific.description }}</p>
        {% endif %}
      </a>
      </div>
    {% endfor %}
  </div>
</main>
{% endblock content %}
