{% extends 'base.html' %} 
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% endblock %} 

{% block content %}
<div class="index-background"></div>
<main>
  <div class="index__header-container">
    <h3 class="index__header">All Posts</h3>
  </div>
  <div class="index__container">
    {% for post in blogs %}
    <a class="index__post-link" href="{% pageurl post.specific %}">
      <div class="index__post">
        {% image post.specific.main_image fill-200x200 as photo %}
        <img
          class="index__post-image"
          src="{{ photo.url }}"
          alt="{{ photo.title }}"
          width="{{ photo.width }}"
          height="{{photo.height}}"
        />
        <div class="post-details__container">
          <h2 class="post-heading">{{ post.specific.title }}</h2>
            <h5 class="post-date">{{ post.specific.date }}</h5>
            {% if post.specific.description %}
            <p class="post-description">{{ post.specific.description }}</p>
            {% endif %}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</main>
{% endblock content %}
