{% extends 'base.html' %} 
{% load static wagtailimages_tags wagtailcore_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% endblock %} 

{% block content %}
<main>
  <div class="gallery-background"></div>
  <div class="blog__header-container">
    <h1 class="blog__header">{{page.title}}</h1>
  </div>
  <div class="blog__container">
    <div class="tags-container">
      {% for tag in page.tags.all %}
      <a href="{{ self.get_parent.url }}?tag={{ tag.slug }}">{{tag}}</a>
      {% endfor %}
    </div>
    <div class="blog__photo-container">
      {% image page.main_image max-800x400 as photo %}
      <img class="blog__photo" src="{{photo.url}}" alt="{{photo.title}}"/>
      <div class ="blog-photo__excerpt">{{ page.main_image_excerpt }}</div>
    </div>
    <div class="blog__content">
      {% for block in page.body %} 
        {% if block.block_type == 'image' %}
          <div class="stream__photo-container">
            {% image block.value max-700x600 %}

          </div>
        {% elif block.block_type == 'heading' %}
          <h1 class="stream__header">{{block.value}}</h1>
        {% elif block.block_type == 'image_block' %}
          <div class="stream__photoblock-container">
            {% image block.value.image max-700x600 %}
            <div class="stream__photo-caption">{{block.value.caption}}</div>
          </div>
        {% else %}
          <section class="block-{{ block.block_type }}">{{ block.value }}</section>
        {% endif %} 
      {% endfor %}
    </div>
  </div>
</main>

{% endblock content %}
