{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about/about_page.css' %}">
{% endblock %}

{% block content %}
<main>
    <div id="about-backgrounds"  class="about-background"></div>
    <div class="about-container">
        {% comment %} <div class="about-title">{{ page.title }}</div> {% endcomment %}
        <div class="about-description">{{ page.description }}</div>
        <div class="about-email">{{ page.email }}</div>
    </div>
</main>
{% endblock %}