{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<main>
    <div id="about-backgrounds"  class="about-background"></div>
    <div class="about-container">
        <div class="about-title">{{ page.title }}</div>
        <div class="about-description">{{ page.description }}</div>
        <div class="about-email">{{ page.email }}</div>
    </div>
    <section class="tolbert">Site by Tolbert&Co</section>
</main>
{% endblock %}