@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather&family=Righteous&display=swap");


.home-background,
.about-background,
.index-background,
.search-background {
  filter: brightness(80%);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  zoom: -20;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  background-position: center;
}

/* LOGO */
.tolbert {
  text-align: center;
  color: #ffe074;
  font-weight: bold;
  margin-bottom: 10px;
}

.separator {
  margin: 8% auto;
  visibility: hidden;
}



/* HOME PAGE */

.home-background {
  background-image: url(../images/homepage.jpg);
}

.card-container__header {
  width: 40%;
  margin: 14% 0 0 8%;
  text-align: left;
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
  color: #ffe074;
}

.card-container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  padding: 2px;
  margin: 0 5% 10% 5%;
}


.card {
  width: 30%;
  /* height: 50%; */
  /* display: flex; */
  margin: 1%;
  max-height: 900px;
  /* min-width: 300px; */
  color: #000000;
  /* background: rgba(90, 90, 90, 0.4); */
  backdrop-filter: blur(2px);
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.3),
  inset -10px -10px 18px 0 rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  border-radius: 5%;
  overflow: hidden;
  border: 0px;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img {
  width: 100%;
}

.card-heading {
  position: absolute;
  background: rgba(115, 115, 115, 0.7);
  top: 10%;
  color: #ffe074;
  font-weight: bold;
  padding: 5px 10px;
  margin-right: 2%;
  border-radius: 0 15px 15px 0;
  font-family: "Merriweather", serif;
}

.card-button {
  background: rgba(46, 46, 46, 0.7);
  border-radius: 10px;
  color: #ffe074;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s linear;
  position: absolute;
  bottom: 3%;
  left: 5%;
  font-family: 'Merriweather', serif;
}

.card-button:hover {
  font-size: 1.1em;
  background: #ffe074;
  color: black;
}

.card-date {
  position: absolute;
  color: rgb(255, 255, 255);
  bottom: 3%;
  right: 0;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Merriweather", serif;
  background: rgba(64, 64, 64, 0.7);
  border-radius: 10px 0 0 10px;
  padding: 10px;
}

@media screen and (max-width: 950px) {
  .card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card {
    width: 100%;
    max-height: 300px;
  }
}




/* ABOUT PAGE */

.about-background {
  background-image: url(../images/about.jpeg);
}


.about-container {
  margin: 18% auto;
  width: 60%;
  background: rgb(205, 205, 205);
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.3),
    inset -10px -10px 18px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px 30px;
  font-family: "Merriweather", serif;
}

.about-title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2%;
  color: black;
  font-weight: bold;
}

.about-description {
  font-size: 1.2rem;
  color: black;
  text-align: center;
}

.about-email {
  font-size: 1.1rem;
  text-align: center;
  margin: 2%;
  color: rgb(122, 120, 120);
}






/* BLOG INDEX PAGE */

.index-background {
  background-image: url(../images/all-posts.jpeg);
}

.index__header-container {
  text-align: center;
  width: 60%;
  margin: 5% auto;
}

.index__header {
  font-size: 4rem;
  font-weight: bold;
  padding: 0;
  color: #ffe074;
  font-family: "Merriweather", serif;
}

.index__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
  margin: 1% 5% 10% 5%;
}

.index__post-link {
  text-decoration: none;
  width: 90%;
  margin: 1% auto;
}

.index__post {
  width: inherit;
  display: flex;
  flex-direction: row;
  background: rgba(90, 90, 90, 0.4);
  color: #000000;
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.3),
    inset -10px -10px 18px 0 rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  border: 0px;
  margin: 0 auto;
}

.index__post:hover {
  box-shadow: 0 40px 68px 0 #888181, inset 0 -4px 12px 0 #eae7e7;
}

.index__post-image {
  border-radius: 5px 0 0 5px;
}

.post-details__container {
  width: 100%;
}

.post-heading {
  color: #ffe074;
  font-weight: bold;
  position: absolute;
  left: 20%;
  padding: 5px;
  background: rgba(115, 115, 115, 0.7);
  margin-top: 2%;
  border-radius: 10px;
  font-family: 'Merriweather', serif;
}

.post-date {
  text-align: right;
  padding: 5px 10px 0 0;
  color: white;
}

.post-description {
  margin: 6% 5% 1% 15%;
  font-family: 'Merriweather', serif;
  font-size: 1.3rem;
  color: white;
}





/* BLOG PAGE */

.blog__header-container {
  text-align: center;
  width: 60%;
  margin: 5% auto;
}

.blog__header {
  font-size: 4rem;
  font-weight: bold;
  padding: 0;
  color: #ffe074;
  font-family: "Merriweather", serif;
}

.blog__container {
  width: 90%;
  margin: 5% auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: rgb(246, 243, 223);
  box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0,0,0,0.15);
  padding: 2% 3%;
}

.blog__photo-container {
  margin: 2% 3%;
  display: flex;
}

.blog-photo {
  margin: 0 auto;
}

.stream__header {
  margin: 5% 0;
}

.stream__photo-container {
  margin: 5% 3%;
  display: flex;
}

.stream__photo-container img {
  margin: 0 auto;
}

.block-content {
  color: #000000;
  width: 100%;
  font-size: 1.5rem;
  font-family: monospace;
}






/* GALLERY INDEX PAGE */

.gallery-background {
    background: #f6f3df;
    filter: brightness(80%);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}


.gallery-section {
  padding: 0.5vw;
  font-size: 0;
  display: -ms-flexbox;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  margin-bottom: 10%;
  margin-top: 0;
}

.gallery-photo__container {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: 0.5vw;
  text-decoration: none;
}

.gallery-photo {
  width: 100%;
  height: auto;
}





/* GALLERY PAGE */

.gallery-page__container {
  margin: 5% 3%;
  display: flex;
}

.gallery-page__container img {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
}






/* SEARCH  */

.search-background {
  background-image: url(../images/searchpage.png);
}

.search__container {
  margin: 10% 10% 5% 10%;
  position: absolute;
  top: 5%;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 3px;
}

.search__form {
  width: 100%;
  display: flex;
}

.search__input {
  width: 80%;
  border-radius: 5px;
  padding: 5px;
  border: 2px white solid;
  transition: box-shadow 0.4s ease;
}

.search__input:focus {
  -webkit-box-shadow:0px 0px 83px 18px rgba(255,225,116,0.45);
  -moz-box-shadow: 0px 0px 83px 18px rgba(255,225,116,0.45);
  box-shadow: 0px 0px 83px 18px rgba(255,225,116,0.45);
}

.search__button {
  width: 15%;
  border: none;
  margin: 0 0 0 10px;
  padding: 5px;
  border-radius: 5px;
  align-items: right;
  color: white;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  transition: background 0.3s ease;
}

.search__button:hover {
  background: rgba(175, 175, 175, 0.25);
}

.search__results {
  padding: 3% 0;
  margin: 5% 0;
  list-style: none;
  border: 3px white solid;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.search__no-result,
.search__result {
  margin: 2% 3%;
  background: rgba(71, 71, 71, 0.25);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 5px;
}

.search__no-result {
  color: white;
}


.search__result-link {
  text-decoration: none;
  color: white;
  margin: 2% auto;
  padding: 10px;
  font-family: 'Merriweather', serif;
  transition: all 0.3s ease;
}

.search__result:hover {
  background: rgba(255, 255, 255, 0.67);
  color: black;
}