@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather&family=Righteous&display=swap");

.home-background,
.about-background,
.index-background,
.search-background {
  filter: brightness(80%);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  zoom: -20;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  background-position: center;
}

/* LOGO */
.tolbert {
  text-align: center;
  color: #ffe074;
  font-weight: bold;
}

/* HOME PAGE */

.home-background {
  background-image: url(../images/homepage2.jpg);
}

.card-container__header {
  width: 40%;
  margin: 14% 0 0 8%;
  text-align: left;
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
  color: #ffe074;
}

.card-container {
  display: flex;
  justify-content: center;
  padding: 2px;
  margin: 0 5% 10% 5%;
}

.card {
  width: 30%;
  margin: 1%;
  max-height: 900px;
  color: #000000;
  -webkit-backdrop-filter: blur(2px);
  -moz-backdrop-filter: blur(2px);
  -o-backdrop-filter: blur(2px);
  -ms-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.3),
    inset -10px -10px 18px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  border-radius: 5%;
  overflow: hidden;
  border: 0px;
}

.card:hover {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.card-img {
  width: 100%;
}

.card-heading {
  position: absolute;
  background: rgba(115, 115, 115, 0.7);
  top: 10%;
  color: #ffe074;
  font-weight: bold;
  padding: 5px 10px;
  margin-right: 2%;
  border-radius: 0 15px 15px 0;
  font-family: "Merriweather", serif;
}

.card-button {
  background: rgba(46, 46, 46, 0.7);
  border-radius: 10px;
  color: #ffe074;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  bottom: 3%;
  left: 5%;
  font-family: "Merriweather", serif;
}

.card-button:hover {
  font-size: 1.1em;
  background: #ffe074;
  color: black;
}

.card-date {
  position: absolute;
  color: rgb(255, 255, 255);
  bottom: 3%;
  right: 0;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Merriweather", serif;
  background: rgba(64, 64, 64, 0.7);
  border-radius: 10px 0 0 10px;
  padding: 10px;
}

@media screen and (max-width: 950px) {
  .card-container {
    flex-direction: column;
    justify-content: center;
  }
  .card {
    width: 100%;
    max-height: 300px;
  }
}

/* ABOUT PAGE */

.about-background {
  background-image: url(../images/about.jpeg);
}

.about-container {
  margin: 18% auto;
  width: 70%;
  background: rgb(205, 205, 205);
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.3),
    inset -10px -10px 18px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px 30px;
  font-family: "Merriweather", serif;
}

.about-title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2%;
  color: black;
  font-weight: bold;
}

.about-description {
  font-size: 1.2rem;
  color: black;
  text-align: center;
}

.about-email {
  font-size: 1.1rem;
  text-align: center;
  margin: 2%;
  color: rgb(122, 120, 120);
}

@media screen and (max-width: 650px) {
  .about-container {
    width: 80%;
  }

  .about-email {
    font-size: 0.9rem;
  }
  
}

/* BLOG INDEX PAGE */

.index-background {
  background-image: url(../images/all-posts.jpeg);
}

.index__header-container {
  text-align: center;
  width: 60%;
  margin: 5% auto;
}

.index__header {
  font-size: 4rem;
  font-weight: bold;
  padding: 0;
  color: #ffe074;
  font-family: "Merriweather", serif;
}

.index__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
  margin: 1% 5% 10% 5%;
}

.index__post-link {
  text-decoration: none;
  width: 90%;
  margin: 1% auto;
}

.index__post {
  width: inherit;
  display: flex;
  flex-direction: row;
  background: rgba(90, 90, 90, 0.4);
  color: #000000;
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.3),
    inset -10px -10px 18px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -moz-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -o-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -ms-transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  border: 0px;
  margin: 0 auto;
}

.index__post-image {
  border-radius: 5px 0 0 5px;
}

.post-details__container {
  width: 100%;
}

.post-heading {
  color: #ffe074;
  font-weight: bold;
  position: absolute;
  left: 20%;
  padding: 5px;
  background: rgba(115, 115, 115, 0.7);
  margin-top: 2%;
  border-radius: 10px;
  font-family: "Merriweather", serif;
}

.post-date {
  text-align: right;
  padding: 5px 10px;
  color: white;
  font-family: monospace;
}

.post-description {
  margin: 6% 5% 1% 15%;
  font-family: "Merriweather", serif;
  font-size: 1.3rem;
  color: white;
}

@media screen and (max-width: 950px) {
  .index__post-link {
    height: 200px;
  }

  .index__post {
    height: inherit;
  }

  .index__post-image {
    opacity: 40%;
    position: absolute;
    z-index: -1;
  }

  .post-heading {
    margin-top: 30px;
    font-size: 1.2rem;
    max-width: 60%;
  }

  .post-date {
    font-size: 1rem;
    margin-top: 0;
    padding-right: 0 2% 0 0;
  }

  .post-description {
    vertical-align: center;
    max-width: 70%;
    font-size: 1rem;
    margin-top: 57px;
    z-index: 2;
  }
}

/* BLOG PAGE */

.blog__header-container {
  text-align: center;
  margin: 5% auto;
}

.blog__header {
  font-weight: bold;
  padding: 0;
  color: #ffe074;
  font-family: "Merriweather", serif;
}

.blog__container {
  max-width: 96ch;
  margin: 5% auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: rgb(246, 243, 223);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0, 0, 0, 0.15);
  padding: 2% 3%;
  overflow: hidden;
}



.blog__photo-container {
  margin: 2% auto;
  display: flex;
  flex-direction: column;
}

.blog__photo {
  margin: 0 auto;
  /* width: auto; */
  width: 100%;
  /* height: auto; */
}

.blog-photo__excerpt {
  color: grey;
  text-align: right;
  font-size: 0.5rem;
}

.blog__content {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stream__header {
  margin: 5% 0;
}

.stream__photo-container {
  margin: 5% auto;
  display: flex;
  width: 100%;
  text-align: center;
}

.stream__photo-container img {
  margin: 0 auto;
  height: auto;
  width: auto;
}

.stream__photoblock-container {
  display: flex;
  flex-direction: column;
  margin: 5% 0;
}
.stream__photoblock-container img {
  margin: 0 auto;
  width: auto;
  height: auto;
}
.stream__photo-caption {
  color: grey;
  text-align: right;
  font-size: 0.8rem;
}

.block-content {
  color: #000000;
  width: 100%;
  font-size: 1.3rem;
  font-family: monospace;
  line-height: 2rem;
}

.block-content p {
  padding-top: 20px;
}

@media screen and (max-width:500px) {
  .block__content {
    font-size: 1rem;
    color: red;
  }

  .stream__photo-container img {
    width: 100%;
  }
  .stream__photoblock-container img {
    width: 100%;
  }
}

/* GALLERY INDEX PAGE */

.gallery-background {
  background: #eae7d3;
  filter: brightness(80%);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.gallery-container {
  margin: 0 3%;
}

.gallery-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 1% auto;
}

.gallery-item {
  margin: 20px auto;
}

.gallery-photo {
  box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.4);
}

/* GALLERY PAGE */

.gallery-page__container {
  margin: 20% 3%;
  display: flex;
}

.gallery-page__container img {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
}

/* SEARCH  */

.search-background {
  background-image: url(../images/searchpage.png);
  filter: brightness(70%);
}

.search__container {
  margin: 10%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 3px;
}

.search__form {
  width: 100%;
  display: flex;
}

.search__input {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  border: 2px white solid;
  -webkit-transition: box-shadow 0.4s ease;
  -moz-transition: box-shadow 0.4s ease;
  -o-transition: box-shadow 0.4s ease;
  -ms-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  margin: 0 auto;
}

.search__input:focus {
  -webkit-box-shadow: 0px 0px 83px 18px rgba(255, 225, 116, 0.45);
  -moz-box-shadow: 0px 0px 83px 18px rgba(255, 225, 116, 0.45);
  box-shadow: 0px 0px 83px 18px rgba(255, 225, 116, 0.45);
}

.search__button {
  width: 15%;
  border: none;
  margin: 0 0 0 10px;
  padding: 5px;
  border-radius: 5px;
  align-items: right;
  color: white;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -ms-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.search__button:hover {
  background: rgba(175, 175, 175, 0.25);
}

.search__results {
  padding: 3% 0;
  margin: 5% 0;
  list-style: none;
  border: 3px white solid;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -ms-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.search__no-result,
.search__result {
  margin: 2% 3%;
  background: rgba(71, 71, 71, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -ms-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5px;
}

.result-image {
  margin-right: 20px;
  border-radius: 10px;
}

.search__no-result {
  color: white;
}

.search__result-link {
  text-decoration: none;
  color: white;
  margin: 2% auto;
  padding: 10px;
  font-family: "Merriweather", serif;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.search__result:hover {
  background: rgba(255, 255, 255, 0.67);
  color: black;
}
