@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #eae7d3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

/* background */

.home-background,
.about-background,
.index-background,
.search-background,
.project_page-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  zoom: -20;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  background-position: center;
}

/*  */
/* navbar*/
/*  */

.custom-navbar {
  font-family: "Merriweather", serif;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
  padding: 30px 15px;
}

.logo-container {
  padding-top: 4px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo-image {
  width: 40px;
  height: auto;
  margin-right: 3px;
}

.logo-title {
  font-size: 25px;
  font-weight: bold;
  font-family: "Merriweather", serif;
}

.of {
  font-size: 20px;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@media (max-width: 768px) {
  .logo-title,
  .of {
    display: none;
  }
}

/*  */
/* mobile nav */
/*  */

.mobile-nav-options {
  display: flex;
  gap: 20px;
  align-items: center;
}

/*  */
/* search */
/*  */

.search-form {
  transform: scaleX(0);
  transition: 0.3s transform ease-in-out;
  transform-origin: right;
}

.search-form input {
  padding-bottom: 10px;
  border: none;
  border-bottom: 3px solid black;
  outline: none;
  background: transparent;
  font-size: 15px;
}

.search-button {
  padding-top: 2px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/*  */
/* hamburger menu*/
/*  */

.navlist-toggle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.desktop-nav-list {
  display: flex;
  gap: 20px;
}

/* .desktop-nav-list a {
  font-weight: bold;
} */

.desk-selected {
  border-bottom: 2px solid black;
}

@media (max-width: 768px) {
  .desktop-nav-list {
    display: none;
  }
}

@media (min-width: 768px) {
  .navlist-toggle {
    display: none;
  }
}

.navlist-toggle span {
  width: 20px;
  background: black;
  height: 3px;
}

/*  */
/* mobile sidebar */
/*  */

.mobile-navbar {
  position: fixed;
  height: 100vh;
  width: 30vw;
  background-color: #eae7d3;
  right: 0;
  top: 0;
  z-index: 10;
  transform: translateX(30vw);
  transition: 0.2s all ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 0 20px 20px;
}

.removal {
  display: none;
}

.menu-opened {
  box-shadow: -15px 15px 15px rgba(0, 0, 0, 0.2);
  transform: unset;
}

.menu-items {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu-items a {
  font-family: "Merriweather", serif;
  font-size: 20px;
  padding: 10px;
}

.selected {
  background-color: #cdcab8;
}

.close-menu-container {
  width: 30vw;
  height: 30vw;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.close-menu-btn {
  width: 50%;
  height: 50%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

/*  */
/* desktop nav */
/*  */

/*  */
/* footer */
/*  */

#footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Merriweather", serif;
  font-size: 0.8rem;
  padding: 10px;
  gap: 20px;
}

.social {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 500px) {
  #footer {
    flex-direction: column-reverse;
    align-items: center;
    padding: 5px;
    position: static;
    bottom: 0;
  }
  .social span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    font-size: 1.1rem;
  }
}
