/* :root {
  --color-primary: #ffe074;
  --color-primary-darker: #f2d673;
  --w-font-sans: "Merriweather", serif;
  --w-color-white: #000;
  --w-color-grey-400: rgb(52, 52, 52);
  --w-color-secondary-75: #000;
  --w-color-secondary-50: #000;
  --w-color-secondary-400: #000;
  --w-color-secondary-600: #000;
  --w-color-secondary: #000;
}

.index * {
    color: black;
}

.title * {
    color: #000;
}
 */